@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
	font-family: "Comfortaa", sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: #1e2323;

	--color-theme-1: #00d0ff;
	--color-theme-2: #c99000;
	--color-text: rgba(255, 255, 255, 0.5);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	font-family: "Comfortaa", sans-serif;
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-0);
	background-size: 100vw 100vh;
	color: rgb(255, 255, 255);
	width: 100%;
}



a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

[tooltip] {
	position: relative;
	/* Required for positioning the tooltip */
	cursor: pointer;
}

/* Tooltip text */
[tooltip]::after {
	z-index: 100000000;
	content: attr(tooltip);
	/* Display the tooltip text */
	position: absolute;
	bottom: 100%;
	/* Position above the element */
	left: 50%;
	/* Start at the center of the element */
	transform: translateX(-50%) translateY(50px);
	/* Center the tooltip */
	white-space: nowrap;
	/* Keep the tooltip on a single line */
	z-index: 100;
	background: linear-gradient(to right,
			transparent,
			#333 20px,
			#333 calc(100% - 20px),
			transparent);
	color: #fff;
	/* Tooltip text color */
	padding: 2px 22px;
	/* Tooltip padding */
	font-size: 14px;
	/* Tooltip font size */
	line-height: 1.4;
	opacity: 0;
	/* Initially hidden */
	transition: all 0.3s;
	/* Fade-in effect */
	pointer-events: none;
	/* Tooltip should not be clickable */
	visibility: hidden;
	/* Initially not visible */
	text-align: center;
	/* Center the text inside the tooltip */

}

[tooltipb] {
	position: relative;
	/* Required for positioning the tooltip */
	cursor: pointer;
}

/* Tooltip text */
[tooltipb]::after {
	content: attr(tooltip);
	/* Display the tooltip text */
	position: absolute;
	bottom: 100%;
	/* Position above the element */
	left: 50%;
	/* Start at the center of the element */
	transform: translateX(-50%) translateY(-50px);
	/* Center the tooltip */
	white-space: nowrap;
	/* Keep the tooltip on a single line */
	z-index: 100;
	background: linear-gradient(to right,
			transparent,
			#333 20px,
			#333 calc(100% - 20px),
			transparent);
	color: #fff;
	/* Tooltip text color */
	padding: 2px 22px;
	/* Tooltip padding */
	font-size: 14px;
	/* Tooltip font size */
	line-height: 1.4;
	opacity: 0;
	/* Initially hidden */
	transition: all 0.3s;
	/* Fade-in effect */
	pointer-events: none;
	/* Tooltip should not be clickable */
	visibility: hidden;
	/* Initially not visible */
	text-align: center;
	/* Center the text inside the tooltip */

}


/* Show the tooltip when hovering over the element */
[tooltip]:hover::after,
[tooltip]:hover::before {
	opacity: 1;
	visibility: visible;
	transform: translateX(-50%) translateY(-5px);

}


.issue-body p {
	margin: 0;
	font-size: 0.9em;
}



.issue-body h3 {
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-size: 1em;
}
.comment p {
	margin:0;
}
blockquote{
	border-left: 3px solid #007396;
	border-radius: 3px;
	padding: 0.3em;
	background-color: #00000000;
	margin: 5px;
	color: #a5a5a5;
  }

  blockquote *  {
	margin: 0px;
	margin-left: 5px;
  }